.navbar-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    font-family: 'Kanit-Light';
    text-decoration: none;
    color: #FDFAF6;
}

@font-face {
    font-family: 'Kanit-Light';
    src: url(../../assets/fonts/Kanit-Light.ttf) format('truetype');
    font-weight: 400;
}

@media (max-width: 768px) {
    .navbar-container {
        gap: 10px;
        padding: 0 20px 0 20px;
    }
}