.presentation-container {
    display: block;
    justify-items: flex-start;
    margin: 5% 25% 0 25%;
}

h1 {
    font-size: 50px;
    font-family: 'Kanit-Light';
    font-weight: 700;
}

p {
    font-size: 20px;
}

.studies {
    color: blue;
    font-weight: bold;
}

@font-face {
    font-family: 'Kanit-Light';
    src: url(../../assets/fonts/Kanit-Light.ttf);
    font-weight: 700;
}