.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 1;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    position: fixed;
    padding: 1rem 0;
    margin: 0;
    color: white;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    font-family: Dense;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    gap: 30px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
}

.navbar-toggle {
    display: none;
}

a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color:#007bff;
}

@media only screen and (max-width: 600px) {
    
    .navbar {
      display: flex;
      justify-content: center;
    }

    .navbar-container {
      display: flex;
      position: fixed;
      margin-left: 0;
      justify-content: space-around;
      border: 1px solid black;
      border-radius: 2rem;
    }   

    .navbar-links {
        display: flex;
        gap: 20px;
    }

    a {
        display: flex;
        justify-content: space-between;
        font-size: 1.15rem;
    }  
    
    a:hover {
        text-decoration: none;
        color: #0568FD;
    }
    
    
  }