/* Si creas un nuevo archivo global como src/global.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que ambos ocupen toda la altura del viewport */
    display: block;
    height: 100vh;
    background-image: radial-gradient(circle, #123458, black);
  }
  
  #root {
    height: 100%; /* Asegura que el div#root también ocupe toda la altura */
  }