/* Si creas un nuevo archivo global como src/global.css */
html, body {
    margin: 0;
    padding: 0;
    display: block;
    background-image: linear-gradient( #123458, black);
  }
  
  #root {
    height: auto; /* Asegura que el div#root también ocupe toda la altura */
  }